<h2><%= @task.title %></h2>
<p class="description"><%= @task.details %></p>

<span>
  <input type="checkbox" <%= @task.completed ? "checked" : "" %> > 
  <%= @task.completed ? "This task is completed" : "This task is yet to be done" %>
</span>




